*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
nav{
  background-color: #BADA55;
  color: #EEEEEE;
  display: flex;
  justify-content: space-between;
  padding: 24px 2%;
}
nav > ul{
  display: flex;
  list-style: none;
  gap: 24px;
}